<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <style>
        li.completed {
            text-decoration : line-through;
        }
    </style>
</head>
<body>

<div id="root">
    <ul>
        <li v-for="task in tasks" :class="{ completed: isCompleted(task) }" @dblclick="updateTask(task)">
            <input type="text" v-if="task==editedTask" @keyup.enter="editedTask=null">
            <div v-else>
                {{task.name}}
                <i class="fa fa-pencil" aria-hidden="true" @click="updateTask(task)"></i>
                <i class="fa fa-times" aria-hidden="true" @click="this.editedTask = null"></i>
            </div>
        </li>
    </ul>
    Nova Tasca a afegir: <input type="text" v-model="newTask" id="newTask" @keyup.enter="addTask">
    <button id="add" @click="addTask">Afegir</button>
</div>

<script src="https://unpkg.com/vue"></script>

<script>

    let vm = new Vue({
        el: '#root',
        data: {
            editedTask: null,
            newTask: '',
            tasks: [
                {
                    'name' : 'Comprar Pa',
                    'completed' : true
                },
                {
                    'name' : 'Aprendre PHP',
                    'completed' : false
                },
                {
                    'name' : 'Prova',
                    'completed' : false
                }
                ]
        },
        methods: {
            addTask() {
                this.tasks.push({'name' : this.newTask, 'completed' : false})
                this.newTask=''
            },
            isCompleted(task) {
                return task.completed
            },
            deleteTask(task) {
                this.tasks.splice(this.tasks.indexOf(task) , 1)
            },
            updateTask(task) {
                this.editedTask = task
                task.name = newTask
            }
        }
    })

    // funció anonima o Closure
//    document.querySelector('#add').addEventListener('click', () => {
//        let newTask = document.querySelector('#newTask').value
//        vm.tasks.push(newTask)
//    })
</script>
</body>
</html>